<ion-view view-title="Login">
	<ion-content class="padding">
		<div class="list">
			<img src="img/logo.png" class="logo">
			<div class="logoText">
				Discussion
			</div>
		</div>
		<div class="list card-padding">
			<label class="item item-input">
				<span class="input-label">Username</span>
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
			</label>
			<label class="item item-input">
				<span class="input-label">password</span>
			</label>
			<label class="item item-input">
				<span class="input-label">password Confirm</span>
			</label>
			<label class="item item-input">
				<span class="input-label">First Name</span>
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
			</label>
			<label class="item item-input">
				<span class="input-label">Birthday</span>
			</label>
			<button class="button button-block button-positive activated" data-ng-click="signin()">
				Signin
			</button>
		</div>
		<div></div>
	</ion-content>
</ion-view>